<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GradJobs</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <!-- MDL -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>

<body>
    <h1>GradJobs🎓</h1>
    <a href="/postJob" class="button mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Post A Job</a>

    <!-- search bar -->
    <form action="/" method="GET">
        <div class="search">
            <input class="searchTerm" type="text" name="search" placeholder="">
            <button class="searchButton" type="submit" value="search">
                🔍
            </button>
        </div>
    </form>

    <!-- categories -->
    <ul class="categories-container">
        <li class="category"><a href="/">All</a></li>
        <li class="category"><a href="/tech">Tech</a></li>
        <li class="category"><a href="/design">Design</a></li>
        <li class="category"><a href="/finance">Finance</a></li>
        <li class="category"><a href="/marketing">Marketing</a></li>
        <li class="category"><a href="/engineering">Engineering</a></li>
    </ul>

    <!-- job table -->
    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">

        <colgroup>
            <col span="1" style="width: 50%;">
            <col span="1" style="width: 30%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 10%;">

        </colgroup>
        <% data.forEach(d => { %>
        <tr class="main-row">
            <td class="mdl-data-table__cell--non-numeric"><b><%= d.title %></b></td>
            <td class="mdl-data-table__cell--non-numeric">
                <% d.categories.forEach(c => { %>
                <a href="/<%= c %>" class="job-category"><%= c %></a>
                <% }) %>
            </td>
            <td class="mdl-data-table__cell--non-numeric"><%= moment(d.createdAt).fromNow(true) %></td>
            <td class="mdl-data-table__cell--non-numeric"><a class="apply" href=" <%= d.url %> ">APPLY</a></td>
        </tr>
        <tr class="description-row">
            <td>
                <div class="mdl-data-table__cell--non-numeric description-wrap"><%= d.description %></div>
            </td>
        </tr>
        <% }); %>

    </table>
    <script type=" module" src="../index.js">
    </script>
    <script type="text/javascript" src="/script.js"></script>
</body>

</html>

<script>
</script>