<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My Website</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
    <h1>GradJobs</h1>
    <a href="/jobs/postJob" class="button">Post A Job</a>

    <!-- search bar -->
    <form action="/jobs" method="GET">
        <div class="search">
            <input class="searchTerm" type="text" name="search" placeholder="">
            <button class="searchButton" type="submit" value="search">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </form>

    <!-- categories -->
    <ul class="categories-container">
        <li class="active category"><a href="/jobs/">All</a></li>
        <li class="category"><a href="/jobs/tech">Tech</a></li>
        <li class="category"><a href="/jobs/design">Design</a></li>
        <li class="category"><a href="/jobs/finance">Finance</a></li>
        <li class="category"><a href="/jobs/marketing">Marketing</a></li>
        <li class="category"><a href="/jobs/engineering">Engineering</a></li>
    </ul>

    <!-- job table -->
    <table>

    <colgroup>
       <col span="1" style="width: 50%;">
       <col span="1" style="width: 30%;">
       <col span="1" style="width: 10%;">
       <col span="1" style="width: 10%;">

    </colgroup>

        <% data.forEach(d => { %>
        <tr class="main-row">
            <td><%= d.title %></td>
            <td><%= d.categories %></td>

            <td><%= moment(d.createdAt).fromNow(true) %></td>
            <td><a href=" <%= d.url %> ">Apply</a></td>
        </tr>
        <tr class="description-row"">
            <td>
                <div><%= d.title %></div>
                <div>
                    <a href=" <%= d.url %> ">Apply</a>
                </div>
            </td>
        </tr>
        <% }); %>


    </table>
    <script type=" module" src="../index.js">
            </script>
            <script type="text/javascript" src="../public/script.js"></script>
            <script type="module" src="../util/regex.js"></script>
            <!-- <script type="text/javascript" src="../index.js"></script> -->


</body>

</html>

<script>
</script>