<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My Website</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
    <h1>GradJob</h1>
    <a href="/jobs/postJob">Post A Job</a>
    
    <form action="/jobs" method="GET">
        <div>
            <input type="text" name="search" placeholder="input here...">
            <input type="submit" value="search">
        </div>
    </form>
    <a href="/jobs/tech" class="tech">tech</a>


        <table>
            <tr>
                <th>Title</th>
                <th>Categories</th>
                <th>Date</th>
                <th>URL</th>
            </tr>

            <% data.forEach(d => { %>
            <tr>
                <td><%= d.title %></td>
                <td><%= d.categories %></td>

                <td><%= moment(d.createdAt).fromNow(true) %></td>
                <td><a href=" <%= d.url %> ">Apply</a></td>
            </tr>
            <tr>
                <td>
                    <div><%= d.title %></div>
                    <div>
                        <a href=" <%= d.url %> ">Apply</a>
                    </div>
                </td>
            </tr>
            <% }); %>


        </table>
        <script type="module" src="../index.js"></script>
        <script type="module" src="../util/regex.js"></script>
        <!-- <script type="text/javascript" src="../index.js"></script> -->


</body>

</html>

<script>

</script>